fieldset {
  display: block;
}

legend {
  color: $color-grey;
  font-family: $default;
  font-size: $normal;
  padding: .5em auto;
}

input {
  border: $color-grey;
  font-size: $small;
  padding: 1em 1.5em;
  margin: 5em;
  &:hover {
    border: $color-grey-dark;
  }
}

// input.placeholder {
  // color: $color-grey-light;
  // font-size: $small;
// }
