main {
  padding: 0 1rem;
  h1 {
    margin-bottom: 1rem;
    clear: both;
  }
  h2 {
    margin-bottom: 1rem;
  }
}

.text-accent {
  color: $color-accent-light;
  weight: bold;
}

.heading-break {
  height: .1rem;
  border-bottom: $color-alpha-light dotted 2px;
  clear: both;
  padding-top: 1.5rem;
}

.example-text {
  margin-bottom: $small;
}

