extends layout

block content
  h1 A Living Style Guide
  h2 To represent Your Brand
  p By adopting a living style guide with a library of modular components that represent your unique brand, your organization can improve the level of consistently nimble and responsive changes to the user interface. Constant iteration requires both an efficient workflow and a well defined collection of atomic elements that can assemble new UI components quickly without accruing new technical or design debt.
  a(href="https://github.com/mattwojo/BrandLivingStyleGuide")
    button.primary-button View Source on Github
