extends layout

block content
  main
    h1 Ordered Lists
    h3.example-text Example
    ol.ordered-list
      li List Element 1
      li List Element 2
      li List Element 3
    section
      article.grid_6.far-left
        h3.example-text The Code
        xmp.code. <ol class="ordered-list">
                    <li>List Element 1</li>
                    <li>List Element 2</li>
                    <li>List Element 3</li>
                  </ol>
      aside.grid_6.far-right
        h3.example-text Notes
        p Ordered lists use a decimal list style type and positions the listing numbers inside of the parent object.
      div.heading-break
      h1 Unordered Lists
      h2.example-text Example
      ul.unordered-list
        li List Element 1
        li List Element 2
        li List Element 3
      section
        article.grid_6.far-right
          h3.example-text The Code
          xmp.code. <ul class="unordered-list">
                      <li>List Element 1</li>
                      <li>List Element 2</li>
                      <li>List Element 3</li>
                    </ul>
        aside.grid_6.far-left
          h3.example-text Notes
          p Unordered lists use circle as bullet points. The bullet points are located on the inside of the parent.
