extends layout

block content
  main
    h1 Typography
    nav.nav-horizontal
      ul
        li
          a(href="#headings") Headings
        li
          a(href="#fonts") Fonts
        li
          a(href="#sizes") Font Sizes
        li
          a(href="#articles") Blog Articles
    section.far-left.grid_6#headings
        h1 h1 Titles
        h2 h2 Subtitles
        h3 h3 Section Titles
        p p Paragraph Text
    section.far-right.grid_6
        h3.notes-title Notes
        p Headings are elements that describe the content that follows and also define a document’s structure. Headings should briefly describe what the page or sections are about, making it clear to the reader (human or non-human) what to expect in the following body. There are few instances in which headings should go below h3 level. Headings both help to gain accurate semantic meaning and SEO results. Check heading and html structural semantics using <a href="https://gsnedders.html5.org/outliner/">HTML Outliner.</a>

    div.heading-break
    section.far-left.grid_6#fonts
        h2 Fonts
        p Primary Font: 'Open Sans', 'sans-serif';
                a(href="#" id="fonts")
        p Blog Article Titles: <span class="titlefont">'Pacifico', 'cursive';</span>
                a(href="#" id="fonts")
        h3.code-title The Code
        p Fonts are hotlinked directly to the Google Font API, increasing performance by eliminating font loading.The fonts are configured as variable names making font changes throughout the site a simple change to one variable name.
        xmp.code.smaller @import url(http://fonts.googleapis.com/css?family=Open+Sans);
        xmp.code.smaller $default: 'Open Sans', sans-serif;
        xmp.code.smaller $titlefont: 'Pacifico', cursive;
        xmp.code.smaller .titlefont {font-family: $titlefont;}
    section.far-right.grid_6
          h3.notes-title Notes
          p While embedded fonts are slowly becoming a de facto standard in Web design, they also introduce overhead in performance because they have to be loaded. <a href="http://css-tricks.com/preventing-the-performance-hit-from-custom-fonts/">Chris Coyier</a> recently discussed the idea of loading Web fonts only on large screens to avoid the performance hit. Web fonts could also be loaded into AppCache or LocalStorage first and shown on subsequent page loads. <a href="https://developers.google.com/fonts/docs/webfont_loader">Google’s WebFont Loader</a> can also help to ensure that the content is displayed in fallback fonts even before the Web fonts have loaded.
        div.heading-break
    section.grid_6.far-left#sizes
        h2 Font Sizes
            h4.gigantic Gigantic
            p (5.063em)
            p
            h4.huge Huge
            p (3.375em)
            p
            h4.large Large
            p (2.25em)
            p
            h4.normal Normal
            p (1.5em)
            p
            h4.small Small
            p.small (1em)
            p
            h4.smaller Smaller
            p.smaller (0.667em)
            p
    section.far-right.grid_6
          h3.notes-title Notes
          p Font sizes are based on the <a href="http://www.hyperarts.com/blog/how-to-use-a-modular-scale/"> Perfect Fifth</a> aspect ratio (2:3) for <a href="http://modularscale.com/"> modular scale </a> and typographic rhythm. This takes away the need to come up with arbitrary size values for type and design elements.
          p Canadian typographer Robert Bringhurst, says: #[span.text-accent "A modular scale, like a musical scale, is a prearranged set of harmonious proportions."]
    section.far-right.grid_6
          h3.code-title The Code
          p The font sizes are configured as variable names and associated classes. This makes it very simple to update sizes and have it reflected everywhere throughout the site.
          xmp.code.small .gigantic {font-size: $gigantic;}
          xmp.code.small .huge {font-size: $huge;}
          xmp.code.small .large {font-size: $large;}
          xmp.code.small .normal {font-size: $normal;}
          xmp.code.small .smaller {font-size: $smaller;}
    div.heading-break
    section.grid_12#articles
        h2 Two-Column Blog Articles
        article.grid_6.far-left
            h3.article-blog.titlefont Paragraph Subtitle
            p.article-blog In web design every typographic decision needs to simultaneously accomplish a variety of results. Each headline you create should be set in text that is legible and search engine friendly, while the typeface should fit within the guidelines of the company’s brand.
            p.article-blog Furthermore, typography should fit to the graphic style of the site and meet user expectations of being able to copy and paste text. It is our responsibility, as designers, to embrace the rules which are born of a craft which goes back hundreds of years. Space plays the most important part in maintaining flow of your design. Good use of space will tell the reader where to start, when to pause, where it ends, and what to do next.
        article.grid_6.far-right
            h3.article-blog.titlefont Paragraph Subtitle
            p.article-blog The Measure, in typography, is the name given to the width of a body of type. There are several units of measurement used for defining the Measure’s width. The three basic units are:
                li.article-blog One point = 1/72 of an inch
                li.article-blog One pica = 12 points
                li.article-blog One em = The distance horizontally equal to the type size, in points, you are using. Eg. 1em of 12pt type is 12pt.
            p.article-blog There is an optimum width for a Measure and that is defined by the amount of characters are in the line. A general good rule of thumb is 2-3 alphabets in length, or 52-78 characters (including spaces). This is for legibility purposes. Keep your Measure within these guidelines and you should have no problem with legibility.
    section.grid_6.far-left
        h3.notes-title Notes
        p The practice of using Drop Caps, a large letter to mark the start of a text, has been around for almost two thousand years. Used for centuries in religious and scholarly texts, initial caps are associated with and communicate an “old” or “traditional” feeling. Thus, when a page design needs to feel traditional, elegant, or historic, drop caps are a good solution.
    section.far-right.grid_6
          h3.code-title The Code
          p The CSS3 way to implement dropcaps is to target the first character of the first paragraph using pseudo class selectors. No extra markup needed, but no IE < 9 support.
          xmp.code.small p.article-blog:first-letter {
          xmp.code.small  float: left;
          xmp.code.small  font-size: 3em;
          xmp.code.small  line-height: 1em;
          xmp.code.small  padding: 0px 3px;
          xmp.code.small  font-weight: 900;
          xmp.code.small  color: $color-charlie-light;
          xmp.code.small }