@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: 'Open Sans';
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
body {
  line-height: 1; }

/* line 34, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
ol, ul {
  list-style: none; }

/* line 37, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
blockquote, q {
  quotes: none; }

/* line 41, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 45, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 49, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
* {
  box-sizing: border-box; }

/* line 1, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
h1 {
  color: #5E8C6A;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.236rem;
  line-height: 6.854rem; }

/* line 8, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
h2 {
  color: #BFB35A;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.618rem;
  line-height: 4.236rem; }

/* line 15, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
h3 {
  color: #dcd5a3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.618rem;
  line-height: 2.618rem; }

/* line 22, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
p {
  color: #5D5C5D;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.618rem; }

/* line 29, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
.code {
  font-size: 0.618rem; }

/* line 1, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index {
  position: fixed;
  background-color: #5E8C6A;
  color: #F2F2F2;
  width: 24%;
  height: 100%;
  top: 0;
  left: 0; }

/* line 11, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index_ul {
  width: 100%; }

/* line 15, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index_li {
  display: block;
  width: 100%;
  font-family: 'Open Sans';
  padding: 1rem;
  border-top: 1px dotted #354f3c; }
  /* line 21, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
  .nav-index_li:hover {
    background-color: #354f3c; }

/* line 26, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index_link {
  color: inherit;
  text-decoration: none; }

/* line 31, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.content {
  width: 76%;
  position: relative;
  padding: 4%;
  left: -webkit-calc(25% - 1em);
  left: calc(25% - 1em); }

/* line 1, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/header */
header {
  height: 6.854rem;
  padding-top: 2.618rem; }

/* line 1, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
main {
  padding: 0 1rem; }
  /* line 3, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
  main h1 {
    margin-bottom: 2rem; }
  /* line 6, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
  main h2 {
    margin-bottom: 1.5rem; }

/* line 11, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.code-example {
  width: 50%;
  float: left;
  margin-top: 2rem; }

/* line 17, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.notes {
  width: 50%;
  float: right;
  margin-top: 2rem; }

/* line 23, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.code-title, .notes-title {
  margin-bottom: 2rem; }

/* line 1, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
.primary-button {
  background-color: #354f3c;
  color: #F2F2F2;
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  margin: 0 1.5em 1em 1.5em;
  border: none; }
  /* line 10, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
  .primary-button:hover {
    background-color: #97b9a0;
    color: #373737;
    border: none; }

/* line 17, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
.secondary-button {
  background-color: #536638;
  color: #F2F2F2;
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  border: none; }
  /* line 25, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
  .secondary-button:hover {
    background-color: #b9caa0;
    color: #373737;
    border: none; }

/* line 32, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
.example-button-text {
  margin-bottom: 2rem; }

/* line 1, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaColor, .alphaLight, .alphaDark, .bravoColor, .bravoLight, .bravoDark, .charlieColor, .charlieLight, .charlieDark, .accentColor, .accentLight, .accentDark, .greyColor, .greyLight, .greyDark, .whiteBg {
  height: 100px;
  width: 100px;
  padding-top: 2.5em;
  color: white;
  text-align: center; }

/* line 11, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaColor {
  background-color: #5E8C6A; }

/* line 16, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaLight {
  background-color: #97b9a0; }

/* line 21, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaDark {
  background-color: #354f3c; }

/* line 26, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.bravoColor {
  background-color: #88A65E; }

/* line 31, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.bravoLight {
  background-color: #b9caa0; }

/* line 36, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.bravoDark {
  background-color: #536638; }

/* line 41, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.charlieColor {
  background-color: #BFB35A; }

/* line 46, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.charlieLight {
  background-color: #dcd5a3; }

/* line 51, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.charlieDark {
  background-color: #817832; }

/* line 56, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.accentColor {
  background-color: #8C2318; }

/* line 61, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.accentLight {
  background-color: #db3f2f; }

/* line 66, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.accentDark {
  background-color: #350d09; }

/* line 71, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.greyColor {
  background-color: #5D5C5D; }

/* line 76, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.greyLight {
  background-color: #B7B7B7; }

/* line 81, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.greyDark {
  background-color: #373737; }

/* line 86, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.whiteBg {
  color: #5E8C6A; }

/* Mobile Grid Resets all Columns to 100%*/
/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_1 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_1 {
      width: 6.5%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_2 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_2 {
      width: 15%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_3 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_3 {
      width: 23.5%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_4 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_4 {
      width: 32%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_5 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_5 {
      width: 40.5%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_6 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_6 {
      width: 49%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_7 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_7 {
      width: 57.5%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_8 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_8 {
      width: 66%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_9, header {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_9, header {
      width: 74.5%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_10 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_10 {
      width: 83%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_11 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_11 {
      width: 91.5%; } }

/* line 14, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_12 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_12 {
      width: 100%; } }

/* line 27, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.far-left {
  margin-left: 0px; }

/* line 31, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.far-right, header {
  margin-right: 0px; }

/* line 35, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.clear, header {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 44, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 55, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }

/* line 59, /home/bolle/Desktop/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid-display {
  background-color: #BFB35A;
  height: 6.854rem;
  margin-bottom: 1rem; }

/*# sourceMappingURL=application.css.map */