@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: 'Open Sans';
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
body {
  line-height: 1; }

/* line 34, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
ol, ul {
  list-style: none; }

/* line 37, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
blockquote, q {
  quotes: none; }

/* line 41, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 49, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/reset */
* {
  box-sizing: border-box; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
h1 {
  color: #5E8C6A;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.236rem;
  line-height: 6.854rem; }

/* line 8, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
h2 {
  color: #BFB35A;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.618rem;
  line-height: 4.236rem; }

/* line 15, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
h3 {
  color: #dcd5a3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.618rem;
  line-height: 2.618rem; }

/* line 22, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
p {
  color: #5D5C5D;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.618rem; }

/* line 29, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/base/typography */
.code {
  font-size: 1rem;
  line-height: 1rem;
  white-space: pre-wrap; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index {
  position: fixed;
  background-color: #5E8C6A;
  color: #F2F2F2;
  width: 24%;
  height: 100%;
  top: 0;
  left: 0; }

/* line 11, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index_ul {
  width: 100%; }

/* line 15, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index_li {
  display: block;
  width: 100%;
  font-family: 'Open Sans';
  padding: 1rem;
  border-top: 1px dotted #354f3c; }
  /* line 21, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
  .nav-index_li:hover {
    background-color: #354f3c; }

/* line 26, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.nav-index_link {
  color: inherit;
  text-decoration: none; }

/* line 31, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/nav */
.content {
  width: 76%;
  position: relative;
  padding: 4%;
  left: -webkit-calc(25% - 1em);
  left: calc(25% - 1em); }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/header */
header {
  height: 6.854rem;
  padding-top: 2.618rem; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
main {
  padding: 0 1rem; }
  /* line 3, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
  main h1 {
    margin-bottom: 2rem;
    clear: both; }
  /* line 7, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
  main h2 {
    margin-bottom: 1.5rem; }

/* line 12, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.code-example {
  width: 48%;
  float: left;
  margin-top: 2rem; }

/* line 18, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.notes {
  width: 48%;
  float: right;
  margin-top: 2rem; }

/* line 24, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.code-title, .notes-title, .example-text {
  margin-bottom: 2rem; }

/* line 28, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.extra-heading {
  padding-top: 3rem; }

/* line 32, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/layout/layout */
.heading-break {
  height: 0.1rem;
  border-bottom: #97b9a0 dotted 2px;
  clear: both;
  padding-top: 1.5rem; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
.primary-button {
  background-color: #354f3c;
  color: #F2F2F2;
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  margin: 0 1.5em 1em 1.5em;
  border: none; }
  /* line 10, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
  .primary-button:hover {
    background-color: #97b9a0;
    color: #373737;
    border: none; }

/* line 17, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
.secondary-button {
  background-color: #536638;
  color: #F2F2F2;
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  border: none; }
  /* line 25, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
  .secondary-button:hover {
    background-color: #b9caa0;
    color: #373737;
    border: none; }

/* line 32, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/buttons */
.example-text {
  margin-bottom: 2rem; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaColor, .alphaLight, .alphaDark, .bravoColor, .bravoLight, .bravoDark, .charlieColor, .charlieLight, .charlieDark, .accentColor, .accentLight, .accentDark, .greyColor, .greyLight, .greyDark, .whiteBg {
  height: 100px;
  width: 100px;
  padding-top: 2.5em;
  color: white;
  text-align: center; }

/* line 9, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaColor {
  background-color: #5E8C6A; }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaLight {
  background-color: #97b9a0; }

/* line 19, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.alphaDark {
  background-color: #354f3c; }

/* line 24, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.bravoColor {
  background-color: #88A65E; }

/* line 29, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.bravoLight {
  background-color: #b9caa0; }

/* line 34, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.bravoDark {
  background-color: #536638; }

/* line 39, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.charlieColor {
  background-color: #BFB35A; }

/* line 44, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.charlieLight {
  background-color: #dcd5a3; }

/* line 49, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.charlieDark {
  background-color: #817832; }

/* line 54, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.accentColor {
  background-color: #8C2318; }

/* line 59, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.accentLight {
  background-color: #db3f2f; }

/* line 64, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.accentDark {
  background-color: #350d09; }

/* line 69, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.greyColor {
  background-color: #5D5C5D; }

/* line 74, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.greyLight {
  background-color: #B7B7B7; }

/* line 79, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.greyDark {
  background-color: #373737; }

/* line 84, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/colorpalette */
.whiteBg {
  color: #5E8C6A; }

/* DEMO 3 */
/* line 2, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-demo {
  margin: 60px 0 0 0;
  *zoom: 1;
  font-weight: 400; }

/* line 8, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-demo:after {
  clear: both;
  content: "";
  display: table; }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 {
  /* Size and position */
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  /* Styles */
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  cursor: pointer;
  outline: none;
  /* Font settings */
  font-weight: bold;
  color: #8AA8BD; }

/* line 34, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #8aa8bd transparent; }

/* line 47, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  /* Styles */
  background: white;
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-weight: normal;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  list-style: none;
  /* Hiding */
  opacity: 0;
  pointer-events: none; }

/* line 72, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent; }

/* line 84, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent; }

/* line 96, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8aa8bd;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

/* line 110, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown li i {
  float: right;
  color: inherit; }

/* line 115, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown li:first-of-type a {
  border-radius: 7px 7px 0 0; }

/* line 119, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown li:last-of-type a {
  border: none;
  border-radius: 0 0 7px 7px; }

/* Hover state */
/* line 126, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3 .dropdown li:hover a {
  background: #f3f8f8; }

/* Active state */
/* line 132, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.wrapper-dropdown-3.active .dropdown {
  opacity: 1;
  pointer-events: auto; }

/* No CSS3 support */
/* line 140, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.no-opacity .wrapper-dropdown-3 .dropdown, .no-pointerevents .wrapper-dropdown-3 .dropdown {
  display: none;
  opacity: 1;
  /* If opacity support but no pointer-events support */
  pointer-events: auto;
  /* If pointer-events support but no pointer-events support */ }

/* line 147, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/dropdown */
.no-opacity .wrapper-dropdown-3.active .dropdown, .no-pointerevents .wrapper-dropdown-3.active .dropdown {
  display: block; }

/* Mobile Grid Resets all Columns to 100%*/
/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_1 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_1 {
      width: 6.5%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_2 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_2 {
      width: 15%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_3 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_3 {
      width: 23.5%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_4 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_4 {
      width: 32%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_5 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_5 {
      width: 40.5%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_6 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_6 {
      width: 49%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_7 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_7 {
      width: 57.5%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_8 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_8 {
      width: 66%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_9, header {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_9, header {
      width: 74.5%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_10 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_10 {
      width: 83%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_11 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_11 {
      width: 91.5%; } }

/* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid_12 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }
  @media screen and (min-width:800px) {
    .grid_12 {
      width: 100%; } }

/* line 27, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.far-left {
  margin-left: 0px; }

/* line 31, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.far-right, header {
  margin-right: 0px; }

/* line 35, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.clear, header {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 44, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* line 55, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }

/* line 59, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/grid */
.grid-display {
  background-color: #BFB35A;
  height: 6.854rem;
  margin-bottom: 1rem; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/lists */
.ordered-list {
  list-style-type: decimal;
  list-style-position: inside; }
  /* line 4, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/lists */
  .ordered-list li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.618rem; }

/* line 11, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/lists */
.unordered-list {
  list-style-type: circle;
  list-style-position: inside; }
  /* line 14, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/lists */
  .unordered-list li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.618rem; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/input */
fieldset {
  display: block; }

/* line 5, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/input */
legend {
  color: #5D5C5D;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.618rem;
  padding: 0.618rem 0; }

/* line 12, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/input */
input {
  padding: 0.618rem;
  width: 50%; }
  /* line 15, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/input */
  input:hover {
    border: 2px solid #5D5C5D; }
  /* line 18, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/input */
  input:focus {
    border: 2px solid #BFB35A;
    outline: none; }
  /* line 22, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/input */
  input:required {
    border: 2px solid #8C2318; }

/* line 27, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/input */
.invalid {
  border: 2px solid #8C2318; }

/* line 1, /Users/seangolob/Desktop/Living-Style-Guide/BrandLivingStyleGuide/BrandLivingStyleGuide/sass/module/barcharts */
.chart {
  font: 0.7em;
  font-weight: bold;
  background-color: #88A65E;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: #BFB35A;
  display: inline-block;
  vertical-align: bottom;
  width: 20%; }

/*# sourceMappingURL=application.css.map */