.chart {
  font: .7em;
  font-weight: bold;
  background-color: $color-bravo;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: $color-charlie;
  display: inline-block;
  vertical-align: bottom;
  width: 20%;
}