.dd-wrapper {
    margin-bottom: $small;
    zoom: 1;
    font-weight: 400;
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.wrapper-dropdown {
    // Size and position
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: $smaller;

    // Styles
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba($color-grey,0.15);
    box-shadow: 0 1px 1px rgba($color-grey-dark,0.1);
    cursor: pointer;
    outline: none;

    // Font settings
    font-weight: bold;
    color: $color-charlie-dark;
    &:after {
        // Styling for triangle
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -3px;
        border-width: 8px 6px 0 6px;
        border-style: solid;
        border-color: $color-charlie transparent;

    }
}

.wrapper-dropdown .dropdown {
    //Size & position
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    //Styles
    background: white;
    border-radius: inherit;
    border: 1px solid rgba($color-grey-dark ,0.17);
    box-shadow: 0 0 5px rgba($color-grey-dark ,0.1);
    font-weight: normal;
    list-style: none;

    //Hiding
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba($color-grey-dark ,0.1) transparent;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    padding: $smaller;
    text-decoration: none;
    color: $color-charlie;
    border-bottom: 1px solid $color-grey-lightest;
    box-shadow: inset 0 1px 0 rgba($color-grey-lightest,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

//Hover State
.wrapper-dropdown .dropdown li:hover a {
    background: rgba($color-charlie, 0.2);
}

//Active State
.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
