form {
  background: $color-alpha-light;
  border-radius: $tiny;
  padding: $normal $normal;
  width: 100%;
  color: $color-alpha-dark;
}

fieldset {
  display: block;
  border: none;
  margin-bottom: $gigantic;
  &:last-of-type {
    margin-bottom: 0;
  }
}

legend {
  font-size: $normal;
  line-height: $large;
  color: inherit;
}

form .unordered-list {
  color: inherit;
}
.aside-form-signup {
  padding:$normal $normal 0 0;
}
