
input {
  padding: $smaller;
  width: 100%;
  font-size: $small;
  margin-bottom: $small;
  &:hover {
    border: 2px solid $color-grey;

  }
  &:focus {
    border: 2px solid $color-charlie;
    outline: none;
  }
  &:required {
      border: 2px solid $color-accent;
  }
}
.input-label {
  color: $color-alpha-dark;
  line-height: $normal;
  width: 100%;
  display: block;
}

.invalid {
  border: 2px solid $color-accent;
}

