label {
  color: $color-grey;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: $normal;
  margin-right: $small;
  margin-top: $small;
  font-size: $small;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

label:before {
  content: "";
  display: inline-block;

  width: $small;
  height: $small;

  margin-right: $smaller;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: $color-grey-light;
  box-shadow: inset 0px 2px 3px 0px rgba(93, 92, 93, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
  border-radius: $smaller;
}
.checkbox label {
  margin-bottom: $smaller;
}
.checkbox label:before {
    border-radius: 3px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: $color-alpha;
    font-size: $normal;
    text-align: center;
    line-height: $small;
}

input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px $color-grey-light;
  font-size: $small;
  color: $color-alpha;
  text-align: center;
    line-height: $small;
}

