table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: $normal;
}
table, tr, th, td {
  padding: $smaller;
}

th {
  color: $color-grey-lightest;
}

th:first-child {
  border-radius: 7px 0 0 0;
}

th:last-child {
  border-radius: 0 7px 0 0;
}

th:only-child {
  border-radius: 7px 7px 0 0;
}

.primary-table {
  &:first-child, tr:first-child {
    background-color: $color-alpha;
  }
  td {
    box-shadow: inset 0px 0px 0px 1px $color-alpha;
  }
}

.secondary-table {
  &:first-child, tr:first-child {
    background-color: $color-bravo;
  }
  td {
    box-shadow: inset 0px 0px 0px 1px $color-bravo;
  }
}
