.tiny {
  font-size: $tiny;
}

.smaller {
  font-size: $smaller;
}

.small {
  font-size: $small;
}

.normal {
  font-size: $normal;
}

.large {
  font-size: $large;
}

.huge {
  font-size: $huge;
}

.gigantic {
  font-size: $gigantic;
}