h1 {
  color: $headingColor-1;
  font-family: $default;
  font-size: $huge;
}

h2 {
  color: $headingColor-2;
  font-family: $default;
  font-size: $large;
}

h3 {
  color: $headingColor-3;
  font-family: $default;
  font-size: $normal;
}

p {
  color: $paragraphColor;
  font-family: $default;
  font-size: $small;
}

.code {
  font-size: $smaller;
}

