%button-style {
  color: $color-grey-dark;
  border-radius: 7px;
  font-family: $default;
  padding: .5em 1.5em;
  font-size: $small;
  margin: $normal 0;
  &:hover {
    box-shadow: 1.5px 1.5px 0px $color-grey-light;
  }
}

 .primary-button {
  @extend %button-style;
  color: $color-alpha-dark;
  background-color: $color-alpha-light;
  border: 2px solid $color-alpha-dark;
  &:hover {
    background-color: $color-alpha;
    color: darken($color-alpha-dark, 10%);
  }
}

.secondary-button {
  @extend %button-style;
  color: $color-bravo-dark;
  background-color: $color-bravo-light;
  border: 2px solid $color-bravo-dark;
  &:hover {
    background-color: $color-bravo;
    color: darken($color-bravo-dark, 10%);
  }
}



