
input {
  padding: $smaller;
  width: 100%;
  font-size: $small;
  margin-bottom: $small;
  &:focus {
    border: 2px solid $color-charlie;
    outline: none;
  }
  &:required {
      border: 2px solid $color-accent;
  }
}
.input-label {
  color: $color-alpha-dark;
  line-height: $normal;
  width: 100%;
  display: block;
}

.invalid {
  border: 2px solid $color-charlie;
  background: white;
}

input:out-of-range:hover {
  cursor: help;
}

input:out-of-range:focus {
    background: lightgray;
    border: 3px dotted gray;
}

textarea { margin: 5px; }
textarea:read-write { border: 5px solid $color-charlie; }
textarea:read-write:disabled { border: 5px solid gray; }
textarea:read-only { border: 5px dotted red; }
textarea:read-write:focus { border: 5px solid $color-charlie-light; }
