.radio-label {
  color: $color-grey;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: $normal;
  font-size: $small;
  margin: $small $small $normal 0;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

.radio-label:before {
  content: "";
  display: inline-block;

  width: $small;
  height: $small;

  margin-right: $smaller;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: $color-grey-light;
  box-shadow: inset 0px 2px 3px 0px rgba(93, 92, 93, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  border-radius: $smaller;
}

.checkbox-label {
  margin-bottom: $smaller;
}
.checkbox-label:before {
    border-radius: 3px;
}

input[type=radio]:checked + .radio-label:before {
    content: "\2022";
    color: $color-alpha;
    font-size: $normal;
    text-align: center;
    line-height: $small;
}

input[type=checkbox]:checked + .checkbox-label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px $color-grey-light;
  font-size: $small;
  color: $color-alpha;
  text-align: center;
  line-height: $small;
  background-color: yellow;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: red;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:$color-alpha-dark;
}

input[type="radio"]:checked + label span {
     background-color: $color-alpha-light;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

.radio fieldset {
  margin: 10px;
}