extends layout

block content
  main
    h1 Bar Charts
    h2.example-text Example Savings Calculator
    form
      input(id='currentYear', type='text', placeholder='Current Year')
      input(id='currentSavings', type='text', placeholder='Current Savings')
      input(id='currentInterest', type='text', placeholder='Interest Rate Percentage')
      input(id='targetYear', type='text', placeholder='Target Year')
      button.primary-button(id='submit', type='submit', value='Submit') Submit

    h3.example-text Bar Chart Styling
    form.chart
    section
      article.grid_6.far-left
        h3.example-text The Code
        xmp.code
        xmp.code
      aside.grid_6.far-right
        h3.example-text Notes
        p INSERT NOTES HERE
