extends layout

block content
  h1= Color Palette
  p On the far left are your brand's five core colors. Each color has a -dark and -light variation that can also be used.#{title}

  li
  li
  li
  li



