extends layout

block content
  h1= title
  p The top row represents our brand's five core colors.
  p Each color below represents a -dark and -light variation that can also be used in our branding.
  li.alphaColor ALPHA
  li.bravoColor BRAVO
  li.charlieColor CHARLIE
  li.accentColor ACCENT
  li.greyColor GREY