extends layout

block content
  h1 Color Palette
  p The top row represents our brand's five core colors.
  p Each color below represents a -dark and -light variation that can also be used in our branding.
  ul
    li.whiteBg.div.far-left.grid_2 Core Colors
    li.alphaColor.div.grid_2  #5E8C6A
    li.bravoColor.div.grid_2 #88A65E
    li.charlieColor.div.grid_2 #BFB35A
    li.accentColor.div.grid_2 #8C2318
    li.greyColor.div.far-right.grid_2 #5D5C5D
  ul
    li.whiteBg.div.far-left.grid_2 20% Lighter
    li.alphaLight.div.grid_2 #97b9a0
    li.bravoLight.div.grid_2 #b9caa0
    li.charlieLight.div.grid_2 #dcd5a3
    li.accentLight.div.grid_2 #db3f2f
    li.greyLight.div.far-right.grid_2 #B7B7B7
  ul
    li.whiteBg.div.far-left.grid_2 20% Darker
    li.alphaDark.div.grid_2 #354f3c
    li.bravoDark.div.grid_2 #536638
    li.charlieDark.div.grid_2 #817832
    li.accentDark.div.grid_2 #350d09
    li.greyDark.div.far-right.grid_2 #373737
  section
    article.grid_6.far-left
      h3.example-text The Code
      xmp.code <li class="alphaColor div grid_2"> </li>
      p "alphaColor" is the color class and "div grid_2" is for a six column grid section.
    aside.grid_6.far-right
      h3.example-text Notes
      p Sass was used to create a color placeholder (#[span.text-accent %]) which was extended into each of the color swatches. Each color swatch demonstrates a color defined in the core color palette and the two variations that can be used of that color. The color varaiable names (ie. #[span.text-accent $color-alpha]) are defined in a config file that can easily be adjusted to change the core color palette throughout the entire site.
