extends layout

block content
  main
    h1 Dropdown Menus
    h2.example-text
    div.dd-wrapper
      div#dd.wrapper-dropdown(tabindex='1')
        span Sample Dropdown
        ul.dropdown
          li
            a(href="#")
              | Select Item 1
          li
            a(href="#")
              | Select Item 2
          li
            a(href="#")
              | Select Item 3
    section
      article.far-left.grid_6
        h3.code-title The Code
        xmp.code.
          <div id="dd" class="wrapper-dropdown" tabindex="1">
            <span>
              Sample Dropdown
            </span>
            <ul class="dropdown">
              <li>
                <a href="#">
                  Select Item 1
                </a>
              </li>
              <li>
                <a href="#">
                  Select Item 2
                </a>
              </li>
              <li>
                <a href="#">
                  Select Item 3
                </a>
              </li>
            </ul>
          </div>
      aside.far-right.grid_6
        h3.notes-title Notes
        p.
          Each dropdown requires a wrapper div with a #[span.text-accent #dd ]id and #[span.text-accent .wrapper-dropdown ] class. The dropdown itself is an ul with a #[span.text-accent .dropdown ] class. The functionality is build using jQuery.

