extends layout

block content
  article
    h1 Form
    section
      h2 Text
        p INSERT TEXT HERE
        form
          fieldset
            legend Personal Information
              input(type='text', placeholder='First name')



