
extends layout

block content
  main
    h1 Form Elements
    nav.nav-horizontal
      ul
        li
          a(href="#buttons") Buttons
        li
          a(href="#dropdown") Dropdown Menu
        li
          a(href="#inputs") Inputs
        li
          a(href="#radio") Radio Buttons
        li
          a(href="#checkbox") Checkboxes
    article.grid_12#buttons
      h2 Buttons
      h3.example-text Example
      button.primary-button.grid_3 Primary
      button.secondary-button.grid_3 Secondary
      section
        article.grid_6.far-left
          h3.example-text The Code
          xmp.code <button class="primary-button"></button>
          xmp.code <button class="secondary-button"></button>
        aside.grid_6.far-right
          h3.example-text Notes
          p.
            Add styles to your buttons by using the #[span.text-accent .primary-button ] or #[span.text-accent .secondary-button ] class!
    div.heading-break
    article.grid_12#dropdown
      h2 Dropdown Menus
      h3.example-text
      div.dd-wrapper
        div#dd.wrapper-dropdown(tabindex='1')
          span Sample Dropdown
          ul.dropdown
            li
              a(href="#")
                | Select Item 1
            li
              a(href="#")
                | Select Item 2
            li
              a(href="#")
                | Select Item 3
      section
        article.far-left.grid_6
          h3.example-text The Code
          xmp.code.
            <div id="dd" class="wrapper-dropdown" tabindex="1">
              <span>
                Sample Dropdown
              </span>
              <ul class="dropdown">
                <li>
                  <a href="#">
                    Select Item 1
                  </a>
                </li>
                <li>
                  <a href="#">
                    Select Item 2
                  </a>
                </li>
                <li>
                  <a href="#">
                    Select Item 3
                  </a>
                </li>
              </ul>
            </div>
        aside.far-right.grid_6
          h3.example-text Notes
          p.
            Each dropdown requires a wrapper div with a #[span.text-accent #dd ]id and #[span.text-accent .wrapper-dropdown ] class. The dropdown itself is an ul with a #[span.text-accent .dropdown ] class. The functionality is build using jQuery.
    div.heading-break
    article.grid_12#inputs
      h2 Input Fields
      fieldset
        legend Personal Information
        input(type='text', placeholder='First name')
        section.grid_6.far-left
          h3.example-text The Code
          xmp.code.
            <fieldset>
            <legend/barcharts>Personal Information</legend>
            <label>First name</label>
            <legend>Personal Information</legend>
            <input type="text" placeholder="First name">
            </fieldset>
        aside.grid_6.far-right
          h3.example-text Notes
          p.
            Text inputs are accompanied by a label and wrapped inside a fieldset. The #[span.text-accent :hover] and #[span.text-accent :focus] styles follow our brand colors.
        section.grid_12
          h2.extra-heading Validation Feedback
          fieldset
            legend Personal Information
            input.invalid(type='text', placeholder='First name')
        section
          article.grid_6.far-left
            h3.example-text Example
            xmp.code. <fieldset>
              <legend>Personal Information</legend>
              <label>First name</label>
              <input type="text" placeholder="First name" class="invalid">
              </fieldset>
          aside.grid_6.far-right
            h3.example-text Notes
            p Text inputs are accompanied by a label and wrapped inside a fieldset. The #[span.text-accent :hover] and #[span.text-accent :focus] styles follow our brand colors.
    div.heading-break
    article.grid_12#radio
      section.radio
        h2 Radio Buttons
        fieldset
          input#radio-button1(type='radio', name='radio')
          label.radio-label(for='radio-button1') Choice A
          input#radio-button2(type='radio', name='radio')
          label.radio-label(for='radio-button2') Choice B
      section
        figure.grid_6.far-left
          h3.example-text The Code
          xmp.code <fieldset>
            <legend>Radio buttons</legend>
            <input id="radio-button1" type="radio" name="radio">
            <label class="radio-label" for "radio-button1">Choice A</label>
            <input id="radio-button2" type="radio" name="radio">
            <label class="radio-label" for "radio-button2">Choice B</label>
          </fieldset>
        aside.grid_6.far-right
          h3.example-text Notes
          p.
            Custom styled radio buttons. To use, create an input radio button with a label that uses the #[span.text-accent .radio-label ] class.
    div.heading-break
    article.grid_12#checkbox
      section.checkbox
        h2 Checkboxes
        fieldset
          input#check1(type='checkbox', name='check' value='check1')
          label.checkbox-label.radio-label(for='check1') Choice A
          input#check2(type='checkbox', name='check' value='check2')
          label.checkbox-label.radio-label(for='check2') Choice B
      section
        figure.grid_6.far-left
          h3.example-text The Code
          xmp.code <fieldset>
            <legend>Checkboxes</legend>
            <input id="check1" type="checkbox" name="" value="check1">
            <label class="checkbox-label" for "check1">Choice A</label>
            <input id="check2" type="checkbox" name="radio">
            <label class="checkbox-label" for "check2">Choice B</label>
          </fieldset>
        aside.grid_6.far-right
          h3.example-text Notes
          p.
            Custom styled checkboxes. To use, create an input checkbox with a label that combines the #[span.text-accent .radio-label ] and #[span.text-accent .checkbox-label ] classes.



