extends layout

block content
  h1 Grid System
  p.
    Our responsive grid system is composed of 12 columns. Each column has a width of 6.5% and a gutter of 2%. Columns are positioned using float.

  h3 Size 1/1

  div.far-left.far-right.grid_12.grid-display

  h3 Size 1/2

  div.far-left.grid_6.grid-display
  div.far-right.grid_6.grid-display

  h3 Size 1/3

  div.far-left.grid_4.grid-display
  div.grid_4.grid-display
  div.far-right.grid_4.grid-display

  h3 Size 1/4

  div.far-left.grid_3.grid-display
  div.grid_3.grid-display
  div.grid_3.grid-display
  div.far-right.grid_3.grid-display

  h3 Size 1/6

  div.far-left.grid_2.grid-display
  div.grid_2.grid-display
  div.grid_2.grid-display
  div.grid_2.grid-display
  div.grid_2.grid-display
  div.far-right.grid_2.grid-display

  h3 Size 1/12

  div.far-left.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.grid_1.grid-display
  div.far-right.grid_1.grid-display

  h2 Asymmetric Layouts

  h3 2/3

  div.far-left.grid_4.grid-display
  div.far-right.grid_8.grid-display

  div.far-left.grid_8.grid-display
  div.far-right.grid_4.grid-display

  h3 3/4

  div.far-left.grid_3.grid-display
  div.far-right.grid_9.grid-display

  div.far-left.grid_9.grid-display
  div.far-right.grid_3.grid-display
  section
    article.code-example
      h3.code-title The Code
      xmp.code <button class="primary-button"></button>
      xmp.code <button class="secondary-button"></button>
    aside.notes
      h3.notes-title Notes
      p INSERT NOTES HERE




