doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="stylesheets/application.css")
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='http://d3js.org/d3.v3.min.js')

  body
    nav.nav-index
      ul.nav-index_ul
        a.nav-index_link(href='/')
          li.nav-index_li
            | Index
        a.nav-index_link(href='/buttons')
          li.nav-index_li
            | Buttons
        a.nav-index_link(href='/grid')
          li.nav-index_li
            | GRID!
        a.nav-index_link(href='/colorpalette')
          li.nav-index_li
            | Color Palette
        a.nav-index_link(href='/lists')
          li.nav-index_li
            | Lists
        a.nav-index_link(href='/dropdown')
          li.nav-index_li
            | Dropdown
        a.nav-index_link(href='/input')
          li.nav-index_li
            | Inputs
        a.nav-index_link(href='/tables')
          li.nav-index_li
            | Tables
        a.nav-index_link(href='/barcharts')
          li.nav-index_li
            | Bar Charts
        a.nav-index_link(href='/radio')
          li.nav-index_li
            | Radio & Checkboxes
        a.nav-index_link(href='/form')
          li.nav-index_li
            | Form
        a.nav-index_link(href='/type')
          li.nav-index_li
            | Typography
    main.content
      block content

    header
      h1 Sample Title

    footer
    //- End of view
  //- script(type='text/javascript', src='app.js')
  script(type='text/javascript', src='javascripts/dropdown.js')
  script(type='text/javascript', src='javascripts/barcharts.js')

