extends layout

block content
  main
    h1 Ordered Lists
    h2.example-text Example
    ol.ordered-list
      li List Element 1
      li List Element 2
      li List Element 3
    section
      article.code-example
        h3.code-title The Code
        xmp.code <ol class="ordered-list">
        xmp.code   <li>List Element 1</li>
        xmp.code   <li>List Element 2</li>
        xmp.code   <li>List Element 3</li>
        xmp.code </ol>
      aside.notes
        h3.notes-title Notes
        p INSERT NOTES HERE
      h1.extra-heading Unordered Lists
      h2.example-text Example
      ul.unordered-list
        li List Element 1
        li List Element 2
        li List Element 3
      section
        article.code-example
          h3.code-title The Code
          xmp.code
          xmp.code
        aside.notes
          h3.notes-title Notes
          p INSERT NOTES HERE
