extends layout

block content
  main
    h1 Ordered Lists
    h2.example-text Example
    ol.ordered-list
      li List Element 1
      li List Element 2
      li List Element 3
    section
      article.code-example
        h3.code-title The Code
        xmp.code <ol class="ordered-list">
        xmp.code   <li>List Element 1</li>
        xmp.code   <li>List Element 2</li>
        xmp.code   <li>List Element 3</li>
        xmp.code </ol>
      aside.notes
        h3.notes-title Notes
        p Ordered lists use a decimal list style type and positions the listing numbers inside of the parent object.
      div.heading-break
      h1.extra-heading Unordered Lists
      h2.example-text Example
      ul.unordered-list
        li List Element 1
        li List Element 2
        li List Element 3
      section
        article.code-example
          h3.code-title The Code
          xmp.code <ul class="unordered-list">
          xmp.code   <li>List Element 1</li>
          xmp.code   <li>List Element 2</li>
          xmp.code   <li>List Element 3</li>
          xmp.code </ul>
        aside.notes
          h3.notes-title Notes
          p Unordered lists use circle as bullet points. The bullet points are located on the inside of the parent.
