extends layout

block content
  main
    h1 Horizontal Navigation
    h3.example-text Example
    nav.nav-horizontal
      ul
        li
          a(href="#") Home
        li
          a(href="#") Browse
        li
          a(href="#") Checkout
    section
      article.grid_6.far-left
        h3.example-text The Code
        xmp.code. <nav class="nav-horizontal">
                    <ul>
                      <li>Navigation Item 1</li>
                      <li>Navigation Item 2</li>
                      <li>Navigation Item 3</li>
                     </ul>
                  </nav>
      aside.grid_6.far-right
        h3.example-text Notes
        p.
          The horizontal navigation bar uses a margin-right of 16px (the base font size of the browser). The font color of the list items is grey and has a hover color of red. Also, the top and bottom border of the navigation is dashed, 1px, and has a color of grey. Use #[span.text-accent :hover] and #[span.text-accent .nav-horizontal] as the class to the nav tag.
    div.heading-break
    h1 Vertical Navigation
    h3.example-text Example
    nav.nav-vertical.grid_4.far-left
      ul
        li
          a(href="#") Home
        li
          a(href="#") Browse
        li
          a(href="#") Checkout
    section.grid_12
      article.grid_6.far-left
        h3.example-text The Code
        xmp.code. <nav class="nav-vertical">
                     <ul>
                       <li>Navigation Item 1</li>
                       <li>Navigation Item 2</li>
                       <li>Navigation Item 2</li>
                     </ul>
                   </nav>
      aside.grid_6.far-right
        h3.example-text Notes
        p The vertical navigation bar uses a padding 8px (half of the base font size for the browser). The font color of the list items is grey and has a hover color of red. Also, the bottom border of each navigation item is dashed, 1px, and has a color of grey. Please note that the bottom border for each item spans 100% of the width of the parent container of the nav tag.

