extends layout

block content
  main
    h1 Tables
    p

    table.primary-table
      tr
        th Lorem
        th Lorem
        th Lorem
        th Lorem
      tr
        td This
        td Is
        td Data
        td Cats
      tr
        td This
        td Is
        td Data
        td Cats
      tr
        td This
        td Is
        td Data
        td Cats

    table.secondary-table
      tr
        th Lorem
        th Lorem
        th Lorem
        th Lorem
      tr
        td This
        td Is
        td Data
        td Cats
      tr
        td This
        td Is
        td Data
        td Cats
      tr
        td This
        td Is
        td Data
        td Cats
    section
        article.far-left.grid_6
          h3.code-title The Code
          xmp.code.
            <table class="primary-table">
              <tr>
                <th>Lorem</th>
                <th>Ipsum</th>
                <th>Dolor</th>
                <th>Sit Amet</th>
              </tr>
              <tr>
                <td>This</td>
                <td>Is</td>
                <td>Data</td>
                <td>Cats</td>
              </tr>
              <tr>
                <td>This</td>
                <td>Is</td>
                <td>Data</td>
                <td>Cats</td>
              </tr>
            </table>
        aside.far-right.grid_6
          h3.notes-title Notes
          p.
            Styling tables is very simple, just apply the #[span.text-accent .primary-table ] or #[span.text-accent .secondary-table ] class to your table tag.



