extends layout

block content
  h1 Tables
  p

  table
    tr
      th Lorem
      th Lorem
      th Lorem
      th Lorem
    tr
      td This
      td Is
      td Data
      td Cats
    tr
      td This
      td Is
      td Data
      td Cats
    tr
      td This
      td Is
      td Data
      td Cats




