extends layout

block content
  main
    h1 Typography
    section.grid_12
        h2 Fonts
            p Primary Font: 'Open Sans', 'sans-serif';
                a(href="#" id="section-headers")
    div.heading-break
    section.grid_12
        h1 h1 Titles
        h2 h2 Subtitles
        h3 h3 Section Titles
        p p Paragraph Text
    div.heading-break
    section.grid_12
        h2 Font Sizes
        h3 (based on the Golden Ratio)
            h4.gigantic 6.854rem;
            p
            h4.huge 4.236rem;
            p
            h4.large 2.618rem;
            p
            h4.normal Normal (1.618rem)
            p
            h4.small Small (1rem)
            p
            h4.smaller Smaller (0.618rem)
            p
            h4.tiny Tiny (0.381rem)
        section.grid_6.far-right
