extends layout

block content
  main
    h1 Typography
    h2.example-text Font Stacks
    p Primary Font: 'Open Sans', 'sans-serif';
        a(href="#" id="section-headers")
        h2 Section Headers
        h1 h1 for Page Title
        h2 h2 for Page Subtitle
        h3 h3 for Section Title
        p Paragraph text. Do not got deeper than h3.
    h2 Font Sizes (based on the Golden Ratio)
        h4.tiny Tiny (0.381rem)
        h4.smaller Smaller (0.618rem)
        h4.small Small (1rem)
        h4.normal Normal (1.618rem)
        h4.large 2.618rem;
        h4.huge 4.236rem;
        h4.gigantic 6.854rem;

    h2 Links
    li
      a(href="#") Link 1
    li
      a(href="#") Link 2